@font-face {
    font-family: rickAndMortyFont;
    src: url(../fonts/get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8.ttf);
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-shadow: 1px 1px 5px white;
    text-align: center;
}

body::after {
    content: "";
    background-image: url("../images/wallpaper.jpg");
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.headerContainer {
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin: 0;
    background-image: url("../images/images.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
    color: #6cc04a;
}

.timerContainer {
    font-size: 40px;
}

.categoriesContainer {
    display: flex;
    justify-content: space-around;
}

.containers {
    display: flex;
    justify-content: space-around;
}

.bigContainer {
    position: absolute;
    width: 100vw;
    border: solid black;
}

.questionDisplay {
    height: 400px;
    width: 800px;
    position: absolute;
    z-index: 1;
    display: none;
    display: flex;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
}

.question {
    border: solid black;
    height: 200px;
    width: 800px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    background-color: black;
    color: white;
    text-shadow: 1px 1px 5px #6cc04a;
    pointer-events: none; 
}

#questionOverlay {
    position: fixed; 
    display: block; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-size: contain;
    background-position: center;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2;
    
}

.answerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.answer {
    border: solid black;
    margin: 0 auto;
    height: 100px;
    width: 175px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    text-shadow: 1px 1px 5px #1f96db;
}

.categories {
    height: 115px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    /* margin: 15px; */
    text-align: center;
    background-color: black;
    color: white;
    text-shadow: 1px 1px 5px #6cc04a;
}

.points {
    height: 100px;
    width: 200px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    /* margin: 15px; */
    color: black;
    background-color: #E1E3E3;
}

.points:hover {
    transition: 0.3s;
    color: black;
    box-shadow: 0 1px 4px #1f96db, 0 0 30px #1f96db;
    background-color: #6cc04a;
}

/* .points:visited {
    pointer-events: none
} */

.correctAnswer {
    width: 800px;
    height: 800px;
    position: absolute;
    border-radius: 10px;
    margin: 0 auto;
    background-image: url("../images/portalImage.gif");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 5px white;
}

.incorrectAnswer {
    width: 800px;
    height: 800px;
    position: absolute;
    border-radius: 10px;
    margin: 0 auto;
    background-image: url("../images/portalImage.gif");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 5px white;
}

#correctOverlay {
    position: fixed; 
    display: block; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-size: contain;
    background-position: center;
    background-color: rgba(0,0,0,0.5); 
    z-index: 3; 
}

#incorrectOverlay {
    position: fixed; 
    display: block; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-size: contain;
    background-position: center;
    background-color: rgba(0,0,0,0.5); 
    z-index: 3; 
}

button {
    padding: 25px 40px;
    cursor: pointer;
    text-align: center;
    font-size: 40px;
    outline: none;
    color: #fff;
    background-color: #6cc04a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    animation: clicky 1s infinite;
    position: absolute;
    z-index: 4;
}

button:hover {
    background-color: #498631
}

button:active {
    background-color: #498631;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

/* Animation for Submit button */

@keyframes clicky {
    0% {
        background-color: #6cc04a;
        box-shadow: 0 6px #999;
    }
    50% {
        background-color: 498631;
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }
    100% {
        background-color: #6cc04a;
        box-shadow: 0 6px #999;
    }
}

h1 {
    position: relative;
    z-index: 4;
    font-family: rickAndMortyFont;
}

p {
    position: relative;
    z-index: 4;
    color: white;
    font-weight: 900;
    text-shadow: 1px 1px 5px #498631;
}

.gameTitle {
    font-size: 40px;
    display: flex;
    align-items: center;
    animation: bigAndSmall 6s infinite;
}
