@font-face {
    font-family: rickAndMortyFont;
    src: url(../fonts/get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8.ttf);
}

body {
    background-color: white;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: rickAndMortyFont;
    font-size: 40px;
    text-shadow: 1px 1px 5px white;
    text-align: center;
}

.headerContainer {
    border: solid black;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin: 0;
    /* border-radius: 10px; */
    /* background-image: url("https://wallpaperaccess.com/full/624960.jpg"); */
    background-image: url("../images.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 99999;
    color: #6cc04a;
}

.timerContainer {
    font-size: 40px;
}

.categoriesContainer {
    display: flex;
}

.containers {
    display: flex;
}

.bigContainer {
    position: absolute;
    margin: 0 250px;
}

.questionDisplay {
    height: 400px;
    width: 800px;
    position: absolute;
    z-index: 1;
    display: none;
    display: flex;
    margin: 100px 425px;
    justify-content: center;
    align-items: center;
    /* background-image: url("images.jpeg") */
}

.question {
    height: 200px;
    width: 800px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answerContainer {
    border: solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.answer {
    height: 100px;
    width: 200px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories {
    height: 115px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 15px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: #6cc04a;
    background-color: white;
}

.points {
    height: 100px;
    width: 200px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 15px;
    color: black;
    background-color: #E1E3E3;
}

.points:hover {
    transition: 0.3s;
    color: black;
    box-shadow: 0 1px 4px #1f96db, 0 0 30px #1f96db;
    background-color: #6cc04a;
}

.correctAnswer {
    width: 800px;
    height: 800px;
    position: absolute;
    border-radius: 10px;
    margin: 0 400px;
    /* image sourced from https://giphy.com/explore/transparent-portal */
    background-image: url("../portalImage.gif");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 5px white;
}

.incorrectAnswer {
    width: 800px;
    height: 800px;
    position: absolute;
    border-radius: 10px;
    margin: 0 400px;
    /* image sourced from https://giphy.com/explore/transparent-portal */
    background-image: url("../portalImage.gif");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 5px white;
}

button {
    padding: 25px 40px;
    cursor: pointer;
    text-align: center;
    font-size: 40px;
    outline: none;
    color: #fff;
    background-color: #6cc04a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    animation: clicky 1s infinite;
    position: absolute;
    z-index: 999990;
}

button:hover {
    background-color: #498631
}

button:active {
    background-color: #498631;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

/* Animation for Submit button */

@keyframes clicky {
    0% {
        background-color: #6cc04a;
        box-shadow: 0 6px #999;
    }
    50% {
        background-color: 498631;
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }
    100% {
        background-color: #6cc04a;
        box-shadow: 0 6px #999;
    }
}

h1 {
    position: relative;
    z-index: 999990;

}
p {
    position: relative;
    z-index: 999990;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 900;
    text-shadow: 1px 1px 5px #498631;
}