.headerContainer {
    border: solid black;
    height: 100px;
}

.categoriesContainer {
    border: solid brown;
    display: flex;
}
.containers {
    display: flex;
}

.bigContainer {
    border: dotted black;
    position: absolute;
    
}

.questionDisplay {
    border: solid yellow;
    height: 600px;
    width: 600px;
    position: absolute;
    background-color: yellow;
    z-index: 1;
}

.categories {
    border: solid gray;
    height: 100px;
    width: 100px;
}

.oneHContainer {
    border: solid red;
}

.twoHContainer {
    border: solid orange;
}

.threeHContainer {
    border: solid green;
}

.fourHContainer {
    border: solid blue;
}

.fiveHContainer {
    border: solid purple;
}

.points {
    border: solid pink;
    height: 100px;
    width: 100px;
}